/* -------
    font
--------- */

@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;700&display=swap');

body{
    font-family: 'Poppins', sans-serif;
}


main{
    display: flex;
    flex-direction: column;
    align-items: center;

}
/*  --------------
    first section
    ------------ */

.heading{
    display: flex;
    margin-bottom: 100px;
    width: 100%;
    background-color: #2D25A0;
    
}

.heading-photo img{
    /* width: 556.01px;
    height: 438px */
    margin: 100px;
}

h1{
    font-size: 45px;
    margin: 0px;
    color: white;
    padding: 10px;
}

.details{
    width: 50%;
    padding-left: 5%;
    padding-right: 10%;
    margin-left: 5%;
    padding-top: 50px;
}

.heading-photo img{
    width: 500px;
    padding-left: 0%;
    /* padding-right: 80%;
    margin-right: 70%; */
}

/* -------------------------------
Transition & transform style part
------------------------------- */

h1:hover{
    transform: scale(1.5);
    transition: transform 3s ease-in-out;
}

.heading-photo img:hover{
    transform: scale(1.1) rotate(5deg);
    transition: transform 2s ease-in-out;
}

.link-button{
    text-decoration: none;
    background-color: #E02C6D;;
    /* background-image: linear-gradient(pink,tomato); */
    padding: 10px 30px;
    color: white;
    font-weight: 500;
}

.button-arrow{
    padding: 5px;
}

/*  --------------------------------
    Middle section & players part style
    ------------------------------- */

.players{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-row-gap: 27px;
    grid-column-gap: 30px;
    /* padding-left: 100px; */
    /* margin top: 27px; */
}

.players p, h3{
    width: 300px;
    font-size: 16px;
    padding-left: calc(50% - 300px/2);
    margin: 0px;
    /* text-align: center; */
}

h3{
    font-size: 28px;  
}

.player img {
    width: 300px;
    height: 256px;
    margin: 10px;

}

.player{
    min-width: 300px;
    min-height: 474px;
    border: 1px solid #FFFFFF;;
    box-shadow: 0px 0px 40px rgba(0, 0, 0, 0.15);
}
/* -----------------------
Final section & footer part
------------------------ */

footer{
    display: grid;
    grid-template-columns: repeat(1,1fr);
    align-items: center;
    margin-top: 80px;
    width: 100%;
    height: 250px;
    background-color:white;
}
.final-part-info{
    margin-left: 0%;
    text-align: center; 
}
.logo-details{
    margin: 20px 0px;
}
.logo-details img{
    width: 483.87px;
    height: 110px;
}
.social-media-icon{
    color: #AAAEBA;
}
.copyright p{
    font-weight: 500;
}

/*--------------------------------------
Media Queries for mobile(iphone 5/6/7/8)
-------------------------------------- */

@media only screen and (max-width:688px) {
    
    .heading,.player{
        display: flex;
        flex-direction: column;
        align-items: center;
       
    }
    .heading,.players{
        grid-template-columns: repeat(1,1fr);
        flex: 100%;
    }
    .heading-photo img{
        margin-top: 50px;
        width: 250px;
    }
    .details {

        width: 100%;
        padding-left: 5%;
        padding-right: 10%;
        margin-left: 10%;
        padding-top: 50px;
        line-height: 20px;
    }
    .player p{
        padding-left: 20px;
    }
    .logo-details img{
        width: 200px;
        height: 70px;
    }
}